body {
    background-color: pink;
    font-family: sans-serif;
}

table, .configurador, #tempo {
    width: 500px;
    margin: auto;
    border: 10px solid rgb(248, 237, 237);
    border-collapse: collapse;
    color: #FF5196;
}

table td {
    border: 5px solid rgb(248, 237, 237);
    height: 166px;
    width: 166px;
    text-align: center;
    font-size: 96px;
}

table:hover {
    cursor: pointer;
}

.configurador, #tempo {
    text-align: center;
    border: none;
    margin-bottom: 10px;
}

.configurador input {
    padding: 8px;
    background-color: rgb(248, 237, 237);
    color: gray;
    border: 2.2px solid rgb(248, 237, 237);
}

.configurador input:hover {
    border: 2px solid #FF5196;
}

.configurador span {
    color: rgb(248, 237, 237);
    background-color: #FF5196;
    padding: 8px 12px;
    vertical-align: baseline;
    border: 1.5px solid rgb(248, 237, 237);
}

.configurador button {
    padding: 7px 15px;
    background-color: rgb(248, 237, 237);
    border: 1px solid gray;
    cursor: pointer;
    color: gray;
}

.configurador button:hover {
    color: black;
    background-color: #FF5196;
    transform: scale(1.1);
    transition: background-color 0.2s ease-in-out;
}

.msg {
    width: 480px;
    padding: 10px;
    background-color: rgb(248, 237, 237);
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid lightgray;
    color: gray;
}

footer {
    font-weight: 200;
    font-size: 12px;
    color: gray;
    transition: 400ms;
    text-align: center;
}

footer:hover {
    opacity: 1px;
    transform: scale(0.9);
}


footer a {
    color: #FF5196;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: rgb(248, 237, 237)
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FF5196;
}